*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    /* padding: 20px; */
}

header {
    background-color: aquamarine;
}

.contenedorCrearArticulos {
    max-width: 900px;
    margin: 0 auto;
}

.contenedorFormulario, .contenedorListado {
    background: #ddeeec;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
}

.contenedorFormularioTitulo, .contenedorListadoTitulo{
    color:#28a745;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.renglonFormularioArticulo{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.renglonFormularioArticulo label{
    display: inline-block; 
    color:rgb(12, 144, 91);
    /* font-weight: bold; */
    min-width: 150px;      
    text-align: left;
}

.renglonFormularioArticulo input, .renglonFormularioArticulo select{
    flex: 1;                
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botonGuardarFormulario {
    background-color: #28a745;
    font-weight: bold; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.contenedorListarArticulos {
    max-width: 1100px;
    margin: 0 auto;
}

.tablaListado{    
    width: 100%;
    margin-top: 10px;
    /* background-color: #fff; */
    border-radius: 8px;
}

.tablaListado th, .tablaListado td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.tablaListado th {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.tablaListado tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.tablaListado th:last-child, .tablaListado td:last-child {
    text-align: right;
}